.heading{
    color: goldenrod;
    margin-left: 45%;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 80%;
    margin: auto;
  }
  
  td, th {
    border: 2px solid gray;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color:tomato;
  }